name: Test and Lint Python

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 ? * 4"

jobs:
  linting_and_testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Installing dependencies
        run: uv sync --extra dev --extra lambda
      - name: Ruff Check
        run: uv run ruff check op_downloader telegram-bot
      - name: Run pytest
        run: uv run pytest
